[submodule "3rdparty/scintilla"]
	path = 3rdparty/scintilla
	url = https://github.com/amezin/scintilla.git
	branch = upstream
[submodule "3rdparty/vtextedit"]
	path = 3rdparty/vtextedit
	url = https://github.com/vnotex/vtextedit.git
[submodule "3rdparty/qmarkdowntextedit"]
	path = 3rdparty/qmarkdowntextedit
	url = https://github.com/pbek/qmarkdowntextedit.git
